<article id="submit-demo">
  <h1>{{ _('Mozilla Demo Studio coming soon!') }}</h1>

  <p>{% trans %} If you want to be one of the first to submit your demo to the Demo Studio,  get started now and we'll contact you when it's ready.{% endtrans %}</p>

  <form id="dr_launch_email" action="{{ url('responsys_subscribe') }}" method="POST">
    <div id="email_feild">
      <label for="id_email">{{ _('Your email address:') }}</label>
      <input type="email" name="email" value="" id="id_email" required>
    </div>
    <div>
      <input id="id_optin" type="checkbox" name="optin" value="yes" />
      <label id="optin-label" for="id_optin">{{ _("I agree to the <a href='{0}'>Mozilla Privacy Policy</a>")|fe('https://www.mozilla.com/en-US/privacy-policy') }}</label> 
    </div>
    <div>
    <p id="opt-in-req" class="error" style="display:none">{{ _('Please read the Mozilla Privacy Policy and agree by checking the box.') }}</p>
    {{ csrf() }}
    <input type="submit" name="submit" value="{{ _('Keep me Updated!') }}">

    <p class="legal">{{ _('We will only send you Mozilla-related information.') }}</p>
    </div>
  </form>

  <p>{{_("Here's what you need to know before you get started&hellip;")|safe}}</p>

  <section>
    <h2>{{_('Before You Begin') }}</h2>
    <ul>
      <li>{{_('You must be prepared to <strong>provide the source code</strong> for your demo. Demos are hosted on the Web Gallery\'s servers.')|safe }}</li>

      <li>{{_('Your demo\'s source code must be available under an <strong>open license</strong>, such as Creative commons, GPL, or BSD.')|safe }}</li>

      <li>{{_('Your demo should showcase <strong>open web technologies</strong>, such as HTML5 and CSS3.')|safe }}</li>

      <li>{{_('Your demo should support a wide range of <strong>modern web browsers</strong>, like Firefox, Chrome, Safari and Opera.')|safe }}</li>
    </ul>
  </section>
  <section>
    <h2>{{_('Preparing Your Demo') }}</h2>
    <ul>
      <li>{{_('Your demo\'s source code should be packaged inside a <strong>ZIP file</strong>.')|safe }}</li>

      <li>{{_('The main page of your demo should be a file named <strong>index.html</strong> in the root of the ZIP.')|safe }}</li>

      <li>{{_('Your demo should be built on client-side <strong>technology</strong> (HTML, CSS, Javscript). PHP, Ruby, and other server-side languages are not supported.')|safe }}</li>

      <li>{{_('If your demo requires external resources, it should use <strong>AJAX</strong> to access them.')|safe }}</li>      
    </ul>    
  </section>
  <p>{{_('Want your demo to also be featured on the Web O Wonder site?  <a href="{0}">Follow these additional requirements</a>')|fe('http://wiki.mozilla.org/Demo_Room_Requirements') }}</a></p>

  <p>{{_('Thanks for supporting the open web!') }}</p>
</article>
