{% extends "base.html" %}
{% block body_class %}{% endblock %}
{% block page_title %}{{ _('Mozilla\'s Web O\'(pen) Wonder') }}{% endblock %}
{% block content %}
<div id="page-container">
{% include 'wow/browser_compatibility.html' %}
	<div id="header">
		<a href="/" id="home-link">{{ _('Mozilla Presents') }}</a>
		<ul id="navigation">
			<li class="see-types">{{ _('See!') }}</li>
			<li><a href="#">{{ _('HTML5') }}</a></li>
			<li><a href="#">{{ _('Design') }}</a></li>
			<li><a href="#">{{ _('Video') }}</a></li>
			<li><a href="#">{{ _('WebGL') }}</a></li>
		</ul>
	</div>
	
	<div id="mozilla-info">
		<a href="/" id="magic-tickets">
		    <div class="magic-ticket"></div>
		    <div class="magic-ticket-2">{{ _('Admit<br />All')|safe }}</div>
		</a>
		<div class="chain-1"></div>
		<div id="marvels-await">
			<h3>{{ _('Marvels <span>Await</span>')|safe }}</h3>
			<p>{% trans %}EXPLORE the AMAZING CREATIONS of the Web! WONDER at FANTASTIC DISCOVERIES from the comfort of your browser!{% endtrans %}</p>
			<a id="submit-demo" href="submit_demo" class="cbox-submit">{{ _('Submit a Demo!') }}</a>
		</div>
	</div>
	
	<div id="demos" class="init">
		<div id="demos-inner">
			<div data-hash="appearing-soon" class="demo coming-soon">
				<div class="demo-inner">
					<div class="flag">{{ _('Appearing Soon') }}</div>
					<div class="demo-image"><img src="//mozillademos.org/demos/flight-of-the-navigator/screenshot.jpg" width="460" height="310" alt="{{ _('Demo Coming Soon') }}"></div>
					<div class="coming-soon-cover"><img src="/media/img/bg-coming-soon.png" width="460" height="310" alt="{{ _('Background Image Coming Soon') }}"></div>
					<div class="demo-over"></div>
				</div>
			</div>
{% for demo in demos %}
			<div id="{{demo.slug}}" data-hash="{{demo.slug}}" class="demo {{demo.category}} {%if loop.first %}selected{% endif %} init {{demo.platform}}-platform">
				<div class="demo-inner"><!-- TODO L10n map categories -->
					<div class="flag">{{demo.category}}</div>
					<a href="#" class="flip-card-back">{{ _('Hide Info') }}</a>
					<div class="demo-image"><a href="{{mozillademos_host}}demos/{{demo.slug}}/demo.html"><img src="{{mozillademos_host}}demos/{{ demo.slug }}/screenshot.jpg" width="458" height="230" alt="{{ _('Screenshot') }}"></a></div>
					<div class="demo-info">
						<h1>{{demo.title}}</h1>
						<h2>{{demo.by_authors|safe}}</h2>
						<div class="demo-info-extra">                                                  
						    <p>{{demo.description}}</p>
    						<ul><!-- TODO {{demo.tags}} -->
    							<li>{{ demo.tag_copy|safe }}</li>
    							<li><a href="{{demo.source_code_url}}">{{ _('Explore the source code on GitHub') }}</a></li>
    						</ul>
                                                <!-- Not all demos have a documentary -->
                                                {% if demo.video_description %}
    						<div class="video-container">
    							<a class="watch-video" href="/{{LANG}}/documentary/{{demo.slug}}"  title="{{ demo.video_title|safe }}">{{ _('Watch the documentary &#187;')|safe }}</a>    							
                                                        <p>{# L10n: {0} is the name of a film maker #}{{ _('Film by {0}')|f('<a href="http://www.maxlanman.com/">Max Lanman</a>')|safe }}
                                                </div>
                                                {% endif %}
    					</div>
					</div>
					<div class="demo-actions">
						<a href="{{mozillademos_host}}demos/{{demo.slug}}/demo.html" class="experience-it">
							<span>{{ _('Experience <b>it now</b>')|safe }}</span>
							<div class="flip-card-icon"></div>
						</a>
						{{ _('&mdash; or &mdash;')|safe }}
						<a href="/{{LANG}}/screencast/{{demo.slug}}" class="watch-video" title="{{demo.title}}">{{ _('Watch a Video') }}</a>
						<a href="http://www.facebook.com/sharer.php" class="social-media facebook" title="{{ _('Share on Facebook') }}">{{ _('Facebook') }}</a>
						<a href="http://twitter.com/share" class="social-media twitter" data-via="firefox" title="{{ _('Share on Twitter') }}">{{ _('Twitter') }}</a>						
					</div>
					<div class="demo-over"></div>
				</div>
			</div>
{% endfor %}
                </div>
        </div>
	
	<div id="demo-controls">
		<a href="#" id="lights-down">{{ _('Lights Down') }}</a>
		<a href="#" id="that-way">{{ _('That Way') }}</a>
		<a href="#" id="this-way">{{ _('This Way') }}</a>
	</div>

    <div id="mozilla-cta">
		<div class="chain-2"></div>
		<div class="chain-3"></div>
		<a href="http://mozilla.com/firefox/beta?WT.mc_id=webwonder&amp;WT.mc_ev=click" id="firefox-four">
			<h3>{{ _('Firefox 4') }}</h3>
			<div class="get-it">{{ _('Get it today!') }}</div>
		</a>
    </div>
    <div id="sharing">
		<div id="twitter" class="disruptable">
			<a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="firefox">{{ _('Tweet') }}</a>
		</div>
		<div id="facebook" class="disruptable">
			<iframe src="http://www.facebook.com/plugins/like.php?href={{share_url|urlencode}}&amp;layout=box_count&amp;show_faces=false&amp;width=55&amp;action=like&amp;colorscheme=light&amp;height=65" style="border:none; overflow:hidden; width:55px; height:65px;"></iframe>
		</div>
		<a href="http://mozilla.org" id="back-to-mozilla" title="{{ _('Visit Mozilla.org') }}">{{ _('Visit Mozilla.org') }}</a>
    </div>
</div>
    <div class="loading"><div class="loading-inner">{{ _('Loading') }} <span class="title"></span><img src="/media/img/loading.gif" height="32" width="32" alt="{{ _('Loading') }}"/></div></div>
    <iframe id="demo-viewport"></iframe>
    <div class="social-tooltip"><span></span><div></div></div>
    <span id="spot" class="spotlight"></span>
<script type="text/javascript">
var twttr = window.twttr || {};
twttr.widgets = twttr.widgets || {};
twttr.widgets.ignoreSSL = true;
</script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js?via=firefox"></script>
{% endblock %}
