{% extends "base.html" %}
{% block body_class %}{% endblock %}
{% block page_title %}{{ _('Mozilla\'s Web O\'(pen) Wonder') }}{% endblock %}
{% block content %}
<div id="page-container">
	<div id="header">
		<div id="twitter" class="disruptable">
			<a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical">{{ _('Tweet') }}</a>
		</div>
		<div id="facebook" class="disruptable">
			<iframe src="http://www.facebook.com/plugins/like.php?layout=box_count&amp;show_faces=false&amp;width=55&amp;action=like&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:55px; height:65px;" allowTransparency="true"></iframe>
		</div>
		<a href="http://mozilla.org" id="back-to-mozilla" title="{{ _('Visit Mozilla.org') }}">{{ _('Visit Mozilla.org') }}</a>
		<a href="/" id="home-link">{{ _('Mozilla Presents') }}</a>
		<ul id="navigation">
			<li class="see-types">{{ _('See!') }}</li>
			<li><a href="#">{{ _('HTML5') }}</a></li>
			<li><a href="#">{{ _('Design') }}</a></li>
			<li><a href="#">{{ _('Video') }}</a></li>
			<li><a href="#">{{ _('WebGL') }}</a></li>
		</ul>
	</div>
	
	<div id="mozilla-info">
		<a href="/" id="magic-tickets">
		    <div class="magic-ticket"></div>
		    <div class="magic-ticket-2">{{ _('Admit<br />All')|safe }}</div>
		</a>
		<div class="chain-1"></div>
		<div id="marvels-await">
			<h3>{{ _('Marvels <span>Await</span>')|safe }}</h3>
			<p>{% trans %}EXPLORE the AMAZING CREATIONS of the Web! WONDER at FANTASTIC DISCOVERIES from the comfort of your browser!{% endtrans %}</p>
			<a href="submit.html" class="cbox-submit">{{ _('Submit a Demo!') }}</a>
		</div>
		<div class="chain-2"></div>
		<div class="chain-3"></div>
		<a href="http://mozilla.com/firefox/beta" id="firefox-four">
			<h3>{{ _('Firefox 4') }}</h3>
			<div class="get-it">{{ _('Get it today!') }}</div>
		</a>
	</div>
	
	<div id="demos" class="init">
		<div id="demos-inner">
			<div data-hash="appearing-soon" class="demo coming-soon">
				<div class="demo-inner">
					<div class="flag">{{ _('Appearing Soon') }}</div>
					<div class="demo-image"><img src="/media/img/image-coming-soon.png" width="460" height="310" alt="{{ _('Image Coming Soon') }}"></div>
					<div class="coming-soon-cover"><img src="/media/img/bg-coming-soon.png" width="460" height="310" alt="{{ _('Background Image Coming Soon') }}"></div>
					<div class="demo-over"></div>
				</div>
			</div>
{% for demo in demos %}
			<div data-hash="{{demo.slug}}" class="demo {{demo.category()}} {%if loop.first %}selected{% endif %} init">
				<div class="demo-inner"><!-- TODO L10n map categories -->
					<div class="flag">{{demo.category()}}</div>
					<a href="#" class="flip-card-back">{{ _('Hide Info') }}</a>
                                        <!-- TODO {{demo.screenshot_1}} -->
					<div class="demo-image"><img src="/media/img/image-placeholder.jpg" width="458" height="230" alt="{{ _('Screenshot') }}"></div>
					<div class="demo-info">
						<h1>{{demo.title}}</h1>
						<h2>by <a class="more-info" href="http://github.com/{{demo.creator.username}}">{{demo.creator.first_name}} {{demo.creator.last_name}}</a></h2>
						<div class="demo-info-extra">
						    <p>{{demo.description}}</p>
    						<ul><!-- TODO {{demo.tags}} -->
    							<li>{{ demo.tag_copy|safe }}</li>
    							<li><a href="{{demo.source_code_url}}">{{ _('Explore the source code on GitHub') }}</a></li>
    						</ul>
                                                <!-- TODO Get videos -->
    						<div class="video-container">
    							<img src="/media/img/video-play.png" width="100" height="65" alt="{{ _('Video Play') }}">
    							<p>{{ demo.video_description }}</p>
    							<a class="cbox-youtube" href="http://www.youtube.com/embed/FtX8nswnUKU?rel=0&amp;autoplay=1"  title="{{ demo.video_title|safe }}">{{ _('Watch the Video &#187;')|safe }}</a>
    						</div>
    					</div>
					</div>
					<div class="demo-actions">
                                          <!-- TODO /{{demo.creator.username}}/{{demo.slug}}/demo.html -->
						<a href="http://plopbyte.net:2048/statistweets/index_protocol.html" class="experience-it">
							<span>{{ _('Experience <b>it now</b>')|safe }}</span>
							<div class="flip-card-icon"></div>
						</a>
						&mdash; or &mdash; <!-- TODO get Videos -->
						<a href="http://www.youtube.com/embed/FtX8nswnUKU?rel=0&amp;autoplay=1" class="cbox-youtube watch-video" title="{{ demo.video_title|safe}}">{{ _('Watch a Video') }}</a>
						<a href="#" class="social-media facebook" title="Share on Facebook">{{ _('Facebook') }}</a>
						<a href="#" class="social-media twitter" title="Share on Twitter">{{ _('Twitter') }}</a>
						<a href="#" class="social-media link" title="Link to this page">{{ _('Link') }}</a>
					</div>
					<div class="demo-over"></div>
				</div>
			</div>
{% endfor %}
                </div>
        </div>
	
	<div id="demo-controls">
		<a href="#" id="lights-down">{{ _('Lights Down') }}</a>
		<a href="#" id="that-way">{{ _('That Way') }}</a>
		<a href="#" id="this-way">{{ _('This Way') }}</a>
	</div>
</div>
    <div class="loading"><div class="loading-inner">{{ _('Loading') }} <span class="title"></span><img src="/media/img/loading.gif" height="32" width="32" alt="{{ _('Loading') }}"/></div></div>
    <iframe id="demo-viewport" width="100%" scrollbars="no"></iframe>
    <div class="social-tooltip"><span></span><div></div></div>
    <span id="spot" class="spotlight"></span>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
{% endblock %}
