<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <title></title>
          {% block site_css %}
            {{ css('video') }}
          {% endblock %}
  </head>
<body>
<div id="video-player" class="mozilla-video-control">
  <video id="video" width="640" height="360" controls="controls" autoplay>
    <source src="{{webm}}" type="video/webm" />
    <source src="{{ogg}}" type="video/ogg" />
    <source src="{{mp4}}" type="video/mp4" />

    <object type="application/x-shockwave-flash" style="width: 640px; height: 388px;"
            data="http://www.mozilla.com/includes/flash/playerWithControls.swf?flv=serv/mobile/firefox-mobile.mp4&amp;autoplay=false&amp;msg=Play%20Video">
      <param name="movie" value="http://mozilla.com/includes/flash/playerWithControls.swf?flv=serv/mobile/firefox-mobile.mp4&amp;autoplay=false&amp;msg=Play%20Video" />
      <param name="wmode" value="transparent" />
      <div class="video-player-no-flash">{% trans firefox_url='http://www.mozilla.com/firefox/',
                                                  safari_url='http://www.apple.com/safari/',
                                                  flash_url='http://www.adobe.com/go/getflashplayer'
        %}This video requires a browser with support for open video:
        <ul>
          <li><a href="{{firefox_url}}">Firefox</a> 3.5 or greater</li>
          <li><a href="{{safari_url}}">Safari</a> 3.1 or greater</li>
        </ul>
          or the <a href="{{flash_url}}">Adobe Flash Player</a>.
          Alternatively, you may use the video download links to the right.{% endtrans %}
        </div>
    </object>
  </video>
</div>

{% if mobile_content %}
  <div id="mobile-alt">
    <p>{{ _('Trouble playing the video? Try these formats:') }}</p>
    <ul>
        <li><a href="{{mp4}}" target="_new">mp4</a></li>
        <li><a href="{{webm}}" target="_new">webm</a></li>
        <li><a href="{{ogg}}" target="_new">ogg</a></li>
    </ul>
  </div>
{% else %}
<script type="text/javascript" src="http://s3.www.universalsubtitles.org/js/mirosubs-widgetizer.js"></script>
{% endif %}
{{ js('video') }}
</body>
</html>
