<div id="video-player" class="mozilla-video-control">
  <video id="video" width="640" height="360" controls="controls" autoplay>
    <source src="{{webm}}" type="video/webm" />
    <source src="{{ogg}}" type="video/ogg" />
    <source src="{{mp4}}" type="video/mp4" />

    <object type="application/x-shockwave-flash" style="width: 640px; height: 388px;"
            data="http://mozilla.com/includes/flash/playerWithControls.swf?flv=serv/mobile/firefox-mobile.mp4&amp;autoplay=false&amp;msg=Play%20Video">
      <param name="movie" value="http://mozilla.com/includes/flash/playerWithControls.swf?flv=serv/mobile/firefox-mobile.mp4&amp;autoplay=false&amp;msg=Play%20Video" />
      <param name="wmode" value="transparent" />
      <div class="video-player-no-flash">{% trans firefox_url='http://www.mozilla.com/firefox/',
                                                  safari_url='http://www.apple.com/safari/',
                                                  flash_url='http://www.adobe.com/go/getflashplayer'
        %}This video requires a browser with support for open video:
        <ul>
          <li><a href="{{firefox_url}}">Firefox</a> 3.5 or greater</li>
          <li><a href="{{safari_url}}">Safari</a> 3.1 or greater</li>
        </ul>
          or the <a href="{{flash_url}}">Adobe Flash Player</a>.
          Alternatively, you may use the video download links to the right.{% endtrans %}
        </div>
    </object>
  </video>
</div>
