<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Unknown Error</title>
        <!--[if IE]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="all" title="IE styles" charset="utf-8">
	<![endif]-->
	
	<!--[if IE 7]>
	<link rel="stylesheet" href="css/ie7.css" type="text/css" media="all" title="IE7 styles" charset="utf-8">
	<![endif]-->
        <link rel="shortcut icon" href="/media/img/favicon.ico">
  </head>
  <body class="{% block body_class %}{% endblock %}">
<div id="page-container">
<h1>Unknown Error</h1>
  <p>An unknown Error has occured.
     <a href="/">Thank you, come again</a>
  </p>
</div>
  </body>
</html>

