<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block page_title %}playdoh examples{% endblock %}</title>

    {% block site_css %}
      {{ css('wow') }}
    {% endblock %}
        <!--[if IE]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="all" title="IE styles" charset="utf-8">
	<![endif]-->
	
	<!--[if IE 7]>
	<link rel="stylesheet" href="css/ie7.css" type="text/css" media="all" title="IE7 styles" charset="utf-8">
	<![endif]-->
        <link rel="shortcut icon" href="/media/img/favicon.ico">
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block content %}{% endblock %}

    {% block site_js %}
      {{ js('wow') }}
    {% endblock %}
<script type="text/javascript">
//<![CDATA[
var _tag=new WebTrends();
_tag.dcsGetId();
//]]>
</script>
<script type="text/javascript">
//<![CDATA[
_tag.dcsCustom=function(){

}
_tag.dcsCollect();

$('#londonproject .experience-it, #londonproject .demo-image a').bind('mousedown', 
    function (e) { dcsMultiTrack('DCS.dcsuri', '/button/webofwonder/londonproject.html', 'WT.ti', 'London%20Project');    
    });

$('#shadows .experience-it, #shadows .demo-image a').bind('mousedown', 
    function (e) { dcsMultiTrack('DCS.dcsuri', '/button/webofwonder/shadows.html',
'WT.ti', 'London%20Shadows');
    });

$('#immersivevideo .experience-it, #immersivevideo .demo-image a').bind('mousedown', 
    function (e) { dcsMultiTrack('DCS.dcsuri',
'/button/webofwonder/immersivevideo.html', 'WT.ti', 'Immersive%20Video');
    });

$('#globetweeter .experience-it, #globetweeter .demo-image a').bind('mousedown', 
    function (e) { dcsMultiTrack('DCS.dcsuri',
'/button/webofwonder/globetweeter.html', 'WT.ti', 'Globe%20Tweeter');
    });

$('#remixingreality .experience-it, #londonproject .demo-image a').bind('mousedown', 
    function (e) { dcsMultiTrack('DCS.dcsuri',
'/button/webofwonder/remixingreality.html', 'WT.ti', 'Remixing%20Reality');
    });

$('#runfield .experience-it, #runfield .demo-image a').bind('mousedown', 
    function (e) { dcsMultiTrack('DCS.dcsuri',
'/button/webofwonder/runfield.html', 'WT.ti', 'Runfield');
    });

$('#flight-of-the-navigator .experience-it, #flight-of-the-navigator .demo-image a').bind('mousedown', 
    function (e) { dcsMultiTrack('DCS.dcsuri',
'/button/webofwonder/flightofthenavigator.html', 'WT.ti',
'Flight%20of%20the%20Navigator');
    });

$('#dashboard .experience-it, #dashboard .demo-image a').bind('mousedown', 
    function (e) { dcsMultiTrack('DCS.dcsuri',
'/button/webofwonder/dashboard.html', 'WT.ti', 'Dashboard');
    });

$('#planetarium .experience-it, #planetarium .demo-image a').bind('mousedown', 
    function (e) { dcsMultiTrack('DCS.dcsuri',
'/button/webofwonder/planetarium.html', 'WT.ti', 'Planetarium');
    });

$('#nocomply .experience-it, #nocomply .demo-image a').bind('mousedown', 
    function (e) { dcsMultiTrack('DCS.dcsuri',
'/button/webofwonder/nocomply.html', 'WT.ti', 'No%20Comply');
    });

//]]>
</script>
<noscript>
<div><img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="http://statse.webtrendslive.com/dcsis0ifv10000gg3ag82u4rf_7b1e/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.3.0&amp;WT.dcssip=www.demos.mozilla.org"/></div>
</noscript>
  </body>
</html>
