<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block page_title %}playdoh examples{% endblock %}</title>

    {% block site_css %}
      {{ css('wow_css') }}
    {% endblock %}
        <!--[if IE]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="all" title="IE styles" charset="utf-8">
	<![endif]-->
	
	<!--[if IE 7]>
	<link rel="stylesheet" href="css/ie7.css" type="text/css" media="all" title="IE7 styles" charset="utf-8">
	<![endif]-->
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block content %}{% endblock %}

    {% block site_js %}
      {{ js('example_js') }}
    {% endblock %}
  </body>
</html>

